<div id="loginBoard" class="container-fluid">

    <div class="row d-flex  justify-content-end">

        <div id="login" class="col-6 m-4">
            
            <div class="row m-5">            
                <img src="./assets/Logos/logo_portos.png">                
            </div>

            <!-- <div id="titulo" class="row ">            
                <h1>LOGIN</h1>
            </div> -->

            <div  id="usuario" class="row">  
                <p>Usuario / Email</p>          
                <input placeholder="Introduce tu email">
            </div>

            <div  id="contraseña" class="row">  
                <p>Contraseña</p>          
                <input placeholder="Introduce tu password">
            </div>

            <div class="row">  
                <div id="checkSession"  class="col-6">
                    <input type="checkbox" id="recuerdaSesion" name="recuerdaSesion">
                    <label for="recuerdaSesion">Recordarme</label><br>
                </div>
                <div id="enlace" class="col-6">
                    <a href="#">¿Olvidaste la contraseña?</a>
                </div>
            </div>

            <div id="btnLogin" class="row">         
                <input id="btn" type="button" value="LOGIN">
            </div>

        </div>

    </div>


</div>