
    <div class="d-none d-sm-block d-flex justify-content-center flex-column" id="tools"> <!-- RESPONSIVE: col-sm-2 col-md-1 -->
        <button class=" w-100"><img class="img-fluid" src="/assets/historial.svg"></button> 
        <button class=" w-100"><img src="/assets/puertos.svg"></button>    
        <button class=" w-100"><img src="/assets/plazas.svg"></button>    
        <button class=" w-100"><img src="/assets/muelles.svg"></button>    
        <button class=" w-100"><img src="/assets/clientes.svg"></button>    
        <button class=" w-100"><img src="/assets/embarcaciones.svg"></button>    
        <button class=" w-100"><img src="/assets/usuarios.svg"></button>       
    </div>

