<div class="container-fluid">

    <div class="row d-flex justify-content-center">

        <!-- <div class="col"> -->
        <button id="filtro"><img class="img-fluid" src="/assets/filtro.svg"></button>
        <!--  </div>  -->

        <button id="buscar">BUSCAR</button>

        <!-- <div class="col"> -->
        <button id="añadir"><img class="img-fluid" src="/assets/añadir.svg"></button>
        <!-- </div>   -->
        <!-- <input type="button" value="AÑADIR INSTAL." [routerLink]="['añadirInst']">
        <router-outlet></router-outlet> -->
    </div>
</div>