*{
  border: 0px solid black;
  margin: 0px;
  padding: 0px;
}

#aside {
  min-width:70px ;
  max-width: 100px;
  height: 90vh;
  background-color: #0E72AD;

}
.col-auto{
  margin-top: 5px;
}
button {
  background: none;
  border: none;
}
.col-auto:hover{
  -webkit-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
  -moz-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
  box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
}

.texticon {
  width: 100%;
  font-size: 12px;
  margin-top: 10px;
  color: white;
}


