*{
  border: 1px solid black;
}

#aside {
  height: 90vh;
  background-color: #0E72AD;
}

button {
  margin-top: 7px;
  background: none;
  border: none;
}

.texticon {
  width: 100%;
  font-size: 12px;
  margin-top: 10px;
  color: white;
}


