<div id="dashBoard" class="container-fluid">
    <div class="row">
        <app-header></app-header>
    </div>
    <div id="vistaCentral" class="row">
        <div class="col-1">
            <app-aside></app-aside>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="container-fluid d-flex justify-content-center">

                    <div class="col-8">

                        <div id="botones" class="row d-flex justify-content-space-between align-items-center">
                            <div class="col-1">
                                <button><i class="far fa-arrow-alt-circle-left mx-1" style='font-size:50px'
                                        data-bs-toggle="tooltip" title="Volver"
                                        [routerLink]="['/lista-plazas']"></i></button>
                            </div>
                            <div class="col-11">
                                <div id="titulo">Detalle Plaza</div>
                            </div>
                        </div>

                        <div id="cabecera" class="row d-flex align-items-center ">
                            <div class="col-4">
                                <div>Id Plaza: <strong>{{ currentPlaza.id  }}</strong></div>
                            </div>
                        </div>

                        <div id="cuerpo" class="row container-fluid d-flex">
                            <div class="col-6">
                                <div class="row d-flex justify-content-center">
                                    <div class="texto">Id Muelle:<strong> {{ currentPlaza.idMuelle }}</strong></div>
                                    <div class="texto">Disponible: <strong>{{ currentPlaza.disponible}}</strong></div>
                                    <div class="texto">Visto: <strong>{{ currentPlaza.visto }}</strong></div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="texto">Puerto Origen: <strong>{{currentPlaza.puertoOrigen}}</strong></div>
                                    <div class="texto">Puerto Destino: <strong>{{currentPlaza.puertoDestino}}</strong></div>
                                    <div class="texto">Año: <strong>{{ currentPlaza.anyo}}</strong></div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
        <div class="col-1">
            <app-user-settings></app-user-settings>
        </div>
    </div>
</div>



