* {
  margin: 0px;
  padding: 0px;
  border: 0px solid black;
}

#titulo {
  font-size: 25px;
  font-weight: bolder;
  color: #007BC4;
}

#boton_volver {
  width: 40px;
  cursor: pointer;
}

#cabecera {
  background-color: #C1D1E3;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
}

#cuerpoCliente {
  background-color: #D9EBFF;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

#cuerpoEmbarcacion {
  background-color: #D9EBFF;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

#cuerpoPlaza {
  background-color: #D9EBFF;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

.texto:first-child {
  margin-top: 0px;
}

.texto {
  margin-top: 20px;
}

tr {
  border: 1px solid black;
}

td {
  border: 1px solid black;
}

th {
  border: 1px solid black;
}
