<div id="dashBoard" class="container-fluid">
  <div class="row">
    <app-header></app-header>
  </div>
  <div id="vistaCentral" class="row">
    <div class="col-1">
      <app-aside></app-aside>
    </div>
    <div class="col-10">
      <div id="cabecera_botones" class="col-12 row d-flex justify-content-start align-items-center">
        <div class="col-6 d-flex row">
          <img id="boton_volver" src="/assets/flechaAtras.svg" alt="Volver" [routerLink]="['/lista-embarcaciones']">
        </div>
      </div>
      <div id="cabecera" class="row">
        <div class="col-3">
          <div>Puerto: <strong>{{ currentEmbarcacione.instalacionNombre }}</strong></div>
        </div>
        <div class="col-2">
          <div>Codigo: <strong>{{ currentEmbarcacione.instalacionCodigo }}</strong></div>
        </div>
        <div class="col-3">
          <div>Fecha Disposición: <strong>{{ currentEmbarcacione.instalacionFecha }}</strong></div>
        </div>
        <div class="col-4">
          <div>Descripción: <strong>{{ currentEmbarcacione.instalacionDescripcion }}</strong></div>
        </div>
      </div>
      <div id="cuerpo" class="row">
        <div class="col-6">
          <div class="texto">Mátricula: <strong> {{ currentEmbarcacione.matricula }}</strong></div>
          <div class="texto">Cliente: <strong>{{ currentEmbarcacione.id_cliente }}</strong></div>
          <div class="texto">Nombre: <strong> {{ currentEmbarcacione.nombre }}</strong></div>
          <div class="texto">Eslora: <strong>{{ currentEmbarcacione.eslora }}</strong></div>
          <div class="texto">Manga: <strong>{{ currentEmbarcacione.manga }}</strong></div>
          <div class="texto">Calado: <strong>{{ currentEmbarcacione.calado }}</strong></div>
          <div class="texto">Propulsión: <strong>{{ currentEmbarcacione.propulsion }}</strong></div>
        </div>
        <div class="col-6">
          <h2>Tripulantes:</h2>
          <table id="tabla" class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Documento</th>
                <th scope="col">Nombre</th>
                <th scope="col">Instalación</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tripulante of currentEmbarcacione.tripulantes">
                <td scope="row">{{tripulante.numDocumento}}</td>
                <td>{{tripulante.nombre}}</td>
                <td>{{tripulante.instalacion}}</td>
                <td>
                  <a class="btn btn-sm btn-info" data-bs-toggle="tooltip"
                    title="Ver registro {{ tripulante.numDocumento }}"
                    [routerLink]="['/vistaDetalleTripulante/',tripulante.numDocumento]"><i class="bi bi-eye"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-1 d-flex flex-row-reverse">
      <app-user-settings></app-user-settings>
    </div>
  </div>
</div>
