<div id="dashBoard" class="container-fluid">
  <div class="row">
    <app-header></app-header>
  </div>
  <div id="vistaCentral" class="row">
    <div class="col-1">
      <app-aside></app-aside>
    </div>
    <div class="col-10">
      <div class="row">
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <div id="titulo">Clientes</div>
        </div>
        <div *ngIf="clientes!=null; else espera">
          <div id="espacioTabla">
            <div id="resize_wrapper">
              <table id="tabla" datatable [dtOptions]="dtOptions" class="table table-striped table-hover">
                <thead class="">
                  <tr>
                    <th scope="col">Numero de documento</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Email</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Tipo de documento</th>
                    <th scope="col">Observaciones</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cliente of clientes">
                    <td>{{cliente.numDocumento}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellidos}}</td>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.direccion}}</td>
                    <td>{{cliente.tipoDocumento}}</td>
                    <td>{{cliente.observaciones}}</td>
                    <td>
                      <a class="btn btn-sm btn-info" data-bs-toggle="tooltip"
                        title="Ver registro {{ cliente.numDocumento }}"
                        [routerLink]="['/vistaDetalleCliente/',cliente.numDocumento]"><i class="bi bi-eye"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <ng-template #espera>Esperando datos...</ng-template>
      </div>
    </div>
    <div id="usersettings" class="col-1 d-flex flex-row-reverse">
      <app-user-settings></app-user-settings>
    </div>
  </div>
</div>
