<div id="dashBoard" class="container-fluid">
  <div class="row">
      <app-header></app-header>
  </div>
  <div class="row">
      <div class="d-none d-lg-block col-1" id="espacio-aside">
          <app-aside></app-aside>
      </div>

      <!-- CONTENIDO MAIN -->

      <div class="col">
        <div id="cabecera_botones" class="row d-flex justify-content-start align-items-center">
         <!--  <div class="col d-flex row">
            <div class="texto " id="titulo">
              <img id="boton_volver" src="/assets/flechaAtras.svg" alt="Volver" [routerLink]="['/lista-historicos']">DETALLE HISTORIAL
            </div>
          </div> -->
          <div class="col-1">
            <img id="boton_volver" src="/assets/flechaAtras.svg" alt="Volver" [routerLink]="['/lista-historicos']">
          </div>
          <div class="col-10 d-flex justify-content-center">
            <div id="titulo">Detalle Historial</div>
          </div>
        



        </div>

        <div id="cabecera" class="row ">
            <div class="col-md">
              <div><strong>{{ currentHistorico.accionId }}</strong></div>
            </div>
            <div class="col-md">
              <div>Puerto: <strong>{{ currentHistorico.puerto.nombrePuerto }}</strong></div>
            </div>
            <div class="col-md">
              <div>Num. Instalacion: <strong>{{ currentHistorico.puerto.id }}</strong></div>
            </div>

            <div class="col-md">
              <div>Código: <strong>{{ currentHistorico.puerto.codigo }}</strong></div>
            </div>
            <div class="col-md">
              <div>Fecha Disposicion: <strong>{{ currentHistorico.puerto.fechaDisposicion | date:'dd/MM/yyyy' }}</strong></div>
            </div>
            <div class="col-md">
              <div>Estado: <strong>{{ currentHistorico.puerto.estado }}</strong></div>
            </div>

        </div>

        <div class="row" id="tarjetero">

          <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">

            <mat-tab label="Cliente">
              <div id="cuerpo" class="row d-flex">
                <div class="col-lg-6">
                    <div class="texto">Tipo Documento: <strong>{{ currentHistorico.cliente.tipoDocumento }}</strong></div>
                    <div class="texto">Numero Documentacion: <strong>{{ currentHistorico.cliente.numDocumento }}</strong></div>
                    <div class="texto">Nombre: <strong>{{ currentHistorico.cliente.nombre }}</strong></div>
                    <div class="texto">Apellidos: <strong>{{ currentHistorico.cliente.apellidos }}</strong></div>
                    <div class="texto">Email: <strong>{{ currentHistorico.cliente.email }}</strong></div>
                    <div class="texto">Direccion: <strong>{{ currentHistorico.cliente.direccion }}</strong></div>
                    <div class="texto">Telefonos:
                      <strong *ngFor="let telefono of currentHistorico.cliente.telefonos">
                        <br>{{ telefono.numero }}
                      </strong>
                    </div>
                    <br>
                </div>

                <div class="col-lg-6">
                    <div class="texto">Embarcaciones: </div>
                    <table id="tabla" class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Matricula</th>
                          <th scope="col">Nombre</th>
                          <th scope="col">Propulsion</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let embarcacion of currentHistorico.cliente.embarcaciones">
                          <td>{{embarcacion.matricula}}</td>
                          <td>{{embarcacion.nombre}}</td>
                          <td>{{embarcacion.propulsion}}</td>
                          <td>
                            <a class="btn btn-sm btn-info" data-bs-toggle="tooltip" title="Ver registro Embarcacion-{{embarcacion.matricula}}"
                        [routerLink]="['/vistaDetalleEmbarcacione/',embarcacion.matricula]"><i class="bi bi-eye"></i></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
              </div>
            </mat-tab>

            <mat-tab label="Embarcacion">
              <div id="cuerpo" class="row container-fluid d-flex">
                <div class="col-lg-6">
                      <div class="texto">Matricula: <strong>{{ currentHistorico.embarcacion.matricula }}</strong></div>
                      <div class="texto">Nombre: <strong>{{ currentHistorico.embarcacion.nombre }}</strong></div>
                      <div class="texto">Eslora: <strong>{{ currentHistorico.embarcacion.eslora }}</strong></div>
                      <div class="texto">Manga: <strong>{{ currentHistorico.embarcacion.manga }}</strong></div>
                      <div class="texto">Calado: <strong>{{ currentHistorico.embarcacion.calado }}</strong></div>
                      <div class="texto">Propulsion: <strong>{{ currentHistorico.embarcacion.propulsion }}</strong></div>
                </div>
              </div>
            </mat-tab>

            <mat-tab label="Plaza">
              <div id="cuerpo" class="row container-fluid d-flex">
                <div class="col-lg-6">
                  <div class="texto">Plaza: <strong>PL-{{ currentHistorico.plaza.id }}</strong></div>
                  <div class="texto">Pantalan: <strong>{{ currentHistorico.plaza.idMuelle }}</strong></div>
                  <div class="texto">Fecha Entrada: <strong>{{ currentHistorico.plaza.fechaEntrada | date:'dd/MM/yyyy' }}</strong></div>
                  <div class="texto">Fecha Salida: <strong>{{ currentHistorico.plaza.fechaSalida | date:'dd/MM/yyyy' }}</strong></div>
                  <div class="texto">Tipo: <strong>{{ currentHistorico.plaza.tipo }}</strong></div>
                  <div class="texto">Puerto Origen: <strong>{{ currentHistorico.plaza.puertoOrigen }}</strong></div>
                  <div class="texto">Puerto Destino: <strong>{{ currentHistorico.plaza.puertoDestino }}</strong></div>
                  <br>
                </div>

                <div class="col-lg-6">
                  <div class="texto">Tripulantes: </div>
                  <table id="tabla" class="table table-hover">
                    <thead class="">
                      <tr>
                        <th scope="col">Nombre Completo</th>
                        <th scope="col">Numero Documento</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr *ngFor="let tripulante of currentHistorico.tripulantes">
                        <td>{{tripulante.nombre}} {{tripulante.apellidos}}</td>
                        <td>{{tripulante.numDocumento}}</td>
                        <td>
                          <a class="btn btn-sm btn-info" data-bs-toggle="tooltip" title="Ver registro Tripulante-{{tripulante.numDocumento}}"
                      [routerLink]="['/vistaDetalleTripulante/',tripulante.numDocumento]"><i class="bi bi-eye"></i></a>
                        </td>

                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>

      <!-- FIN CONTENIDO MAIN -->

      <div class="d-none d-lg-block col-1" id="espacio-user">
          <app-user-settings id="contenido-user"></app-user-settings>
      </div>
  </div>
</div>
