<div class="container">
    <header class="jumbotron">
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>{{ nombre }}</td>
                <td>{{ email }}</td>
              </tr>          
            </tbody>
          </table>
    </header>
</div>
