* {
  padding: 0px;
  margin: 0px;
  border: solid 0px black;
}

.btn-info {
  background-color: #007BC4;
  color: white;
  border: none;
  padding: 4px 8px;
}

/* #espacioTabla {
  margin: 10px 30px 20px;
} */
#espacioTabla {
  margin-top: 10vh;
  margin-right: 5vh;
  margin-left: 5vh;
  height: auto;
  /* overflow: scroll; */
  /* height: 5%!important; */

}

.boton-habilitado{
  outline: none;
  border: 0px;
  cursor: none;
}
