*{
  border: 0px solid black;
  margin: 0px;
  padding: 0px;
}

#usersettings {
  /* max-width: 190px; */
  min-width: 60px;
  height:auto;
  background-color: #0E72AD;

  /* margin: 0px;
  padding: 0px; */
}

.col-auto{
  margin:6px 3px 6px 3px;
}

button {
  background: none;
  border: none;

}
.col-auto:hover{
  -webkit-box-shadow:0 0px 4px #3893c8, 0 0 20px #3893c8 inset;
  -moz-box-shadow:0 0px 4px #3893c8, 0 0 20px #3893c8 inset;
  box-shadow:0 0px 4px #3893c8, 0 0 20px #3893c8 inset;
}
