div {
  height: 30vh;
  background-color: #0E72AD;
}

button {
  background: none;
  border: none;
  padding: 0%;
  margin: 0%;
  padding-top: 30%;
}

#user {
  padding-left: 10%;
}

#logout {
  padding-left: 10%;
}
