* {
  padding: 0px;
  margin: 0px;
}

.btn-info {
  background-color: #007BC4;
  color: white;
  border: none;
  padding: 4px 8px;
}

#espacioTabla {
  margin-top: 5vh;
  margin-right: 5vh;
  margin-left: 5vh;
  height: auto;
}

#titulo {
  margin-top: 20px;
  font-size: 40px;
  font-weight: bolder;
  color: #007BC4;
}
