<div id="dashBoard" class="container-fluid">
  <div class="row">
      <app-header></app-header>
  </div>
  <div id="vistaCentral" class="row">
      <div class="d-none d-lg-block col-1" id="espacio-aside">
          <app-aside></app-aside>
      </div>

      <!-- CONTENIDO MAIN -->

      <div class="col">
        <div id="cabecera_botones" class="row d-flex justify-content-start align-items-center">
          <div class="col-6 d-flex row">
            <div class="texto " id="titulo">
              <img id="boton_volver" src="/assets/flechaAtras.svg" alt="Volver" [routerLink]="['/lista-mensajes']">DETALLE MENSAJE
            </div>
          </div>
        </div>

        <div id="cabecera" class="row ">

          <div class="col-lg">
            De:<strong> {{ currentMensaje.idUsuarioOrigen }}</strong>
          </div>
          <div class="col-lg">
            Para:<strong> {{ currentMensaje.idUsuarioDestino }}</strong>
          </div>
        </div>

        <div id="cuerpo" class="row">
          <div class="col-lg-6">
            <div class="texto">Fecha: <strong> {{ currentMensaje.fecha_hora }}</strong></div>
            <div class="texto">Mensaje: <strong>{{ currentMensaje.texto }}</strong></div>
          </div>
          <div class="col-lg-6">

          </div>
        </div>
      </div>

      <!-- FIN CONTENIDO MAIN -->

      <div class="d-none d-lg-block col-1" id="espacio-user">
          <app-user-settings id="contenido-user"></app-user-settings>
      </div>
  </div>
</div>

   <!--
        <div class="col-10">
          <div class="row">
              <div class="container-fluid d-flex justify-content-center">

                  <div class="col-8">

                      <div id="botones" class="row d-flex justify-content-space-between align-items-center">
                          <div class="col-1">
                              <button><i class="far fa-arrow-alt-circle-left mx-1" style='font-size:50px' data-bs-toggle="tooltip"
                                      title="Volver" [routerLink]="['/lista-mensajes']"></i></button>
                          </div>
                          <div class="col-11">
                              <div id="titulo">Detalle Mensaje</div>
                          </div>
                      </div>

                      <div id="cabecera" class="row d-flex align-items-center ">
                          <div class="col">
                            De:<strong> {{ currentMensaje.idUsuarioOrigen }}</strong>
                          </div>
                          <div class="col">
                            Para:<strong> {{ currentMensaje.idUsuarioDestino }}</strong>
                          </div>
                      </div>

                      <div id="cuerpo" class="row container-fluid d-flex">
                          <div class="col">
                              <div class="row d-flex justify-content-center">
                                <div class="texto">Fecha: <strong> {{ currentMensaje.fecha_hora }}</strong></div>
                                <div class="texto">Mensaje: <strong>{{ currentMensaje.texto }}</strong></div>
                              </div>
                          </div>
                      </div>

                  </div>

              </div>


          </div>
      </div>
    -->
