* {
  margin: 0px;
  padding: 0px;
  border: solid 0px black;
}

#boton_volver {
  margin-top: 50px;
  width: 40px;
  cursor: pointer;
}

#titulo {
  margin-top: 50px;
  font-size: 40px;
  font-weight: bolder;
  color: #007BC4;
}

#cabecera_botones {
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
}

#cabecera {
  background-color: #C1D1E3;  
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 30px;
}

#cuerpo {
  background-color: #D9EBFF;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  height: 40vh;
}


/* .texto:first-child {
  margin-top: 20px;
} */

.texto {
  margin-left: 20px;
  margin-top: 40px;
  font-size: 20px;
}

tr {
  border: 1px solid black;
}

td {
  border: 1px solid black;
}

th {
  border: 1px solid black;
}
