* {
  margin: 0px;
  padding: 0px;
}

#espacioTabla {
  margin-top: 10vh;
  margin-right: 5vh;
  margin-left: 5vh;
  height: auto;
  /* overflow: scroll; */
  /* height: 5%!important; */
}

.btn-info {
  background-color: #007BC4;
  color: white;
  border: none;
  padding: 4px 8px;
}

.boton-habilitado{
  outline: none;
  border: 0px;
  cursor: none;
}

#icono{
  font-size:20px;  
}