* {
  margin: 0px;
  padding: 0px;
}

#espacioTabla {
  margin-top: 5vh;
  margin-right: 5vh;
  margin-left: 5vh;
  height: auto;
}

.btn-info {
  background-color: #007BC4;
  color: white;
  border: none;
  padding: 4px 8px;
}

.boton-habilitado {
  outline: none;
  border: 0px;
  cursor: none;
}

#icono {
  font-size: 20px;
}

#titulo {
  margin-top: 30px;
  font-size: 40px;
  font-weight: bolder;
  color: #007BC4;
}
