
<div id="dashBoard" class="container-fluid">

    <div class="row">
        <app-header-component></app-header-component>
    </div>
    
    <div id="vistaCentral" class="row">

        <div class="col-1">
            <app-aside-component></app-aside-component>
        </div>

        <div class="col-10">

            <div class="row">
                <h1>HOLA MUNDO</h1>
                <!-- AQUI VAN LOS BOTONES DE BUSQUEDA, FILTRADO Y AÑADIR -->
            </div>

            <div class="row">
                <app-main-component></app-main-component>
            </div>
            
            
        </div>

        <div class="col-1">
            <app-user-settings-component></app-user-settings-component>
            <!-- AQUI VA EL MENU DE USER SETTINGS -->
        </div>

    </div>

</div>








<!-- <p>Componente - INSTALACIONES</p> -->
<!-- <app-lista-instalacion></app-lista-instalacion>
<app-formulario-alta-instalacion></app-formulario-alta-instalacion>
<app-vista-detallada-instalacion></app-vista-detallada-instalacion> -->
<!--
<input type="button" value="VER LISTA INSTALACION" [routerLink]="['/lista-instalacion']">
<input type="button" value="VER FORMULARIO ALTA INSTALACION">
<input type="button" value="VER VISTA DETALLADA INSTALACION"> -->


