
<app-header-component></app-header-component>
<app-aside-component></app-aside-component>
<app-main-component></app-main-component>
<app-user-settings-component></app-user-settings-component>

<!-- <p>Componente - INSTALACIONES</p> -->
<!-- <app-lista-instalacion></app-lista-instalacion>
<app-formulario-alta-instalacion></app-formulario-alta-instalacion>
<app-vista-detallada-instalacion></app-vista-detallada-instalacion> -->
<!--
<input type="button" value="VER LISTA INSTALACION" [routerLink]="['/lista-instalacion']">
<input type="button" value="VER FORMULARIO ALTA INSTALACION">
<input type="button" value="VER VISTA DETALLADA INSTALACION"> -->


