<div id="dashBoard" class="container-fluid">
  <div class="row">
    <app-header></app-header>
  </div>
  <div id="vistaCentral" class="row">
    <div class="col-1">
      <app-aside></app-aside>
    </div>
    <div class="col-10">
      <div class="row">
        <app-navbar></app-navbar>
        <!-- AQUI VAN LOS BOTONES DE BUSQUEDA, FILTRADO Y AÑADIR -->
      </div>
      <div class="row">
        <h1>TABLA DATOS</h1>
        <!-- HA DESAPARECIDO EL "MAIN" QUE HICE CON LA TABLA QUE CONSUMÍA DE LA API -->
      </div>
    </div>
    <div class="col-1">
      <app-user-settings></app-user-settings>
      <!-- AQUI VA EL MENU DE USER SETTINGS -->
    </div>
  </div>
</div>








<!-- <p>Componente - INSTALACIONES</p> -->
<!-- <app-lista-instalacion></app-lista-instalacion>
<app-formulario-alta-instalacion></app-formulario-alta-instalacion>
<app-vista-detallada-instalacion></app-vista-detallada-instalacion> -->
<!--
<input type="button" value="VER LISTA INSTALACION" [routerLink]="['/lista-instalacion']">
<input type="button" value="VER FORMULARIO ALTA INSTALACION">
<input type="button" value="VER VISTA DETALLADA INSTALACION"> -->
