* {
  margin: 0px;
  padding: 0px;
}

#espacioTabla {
  margin-top: 10vh;
  margin-right: 5vh;
  margin-left: 5vh;
  height: auto;
  /* overflow: scroll; */
  /* height: 5%!important; */

}

#resize_wrapper {

  /*  position: absolute;
    top: 5em;
    left: 1em;
    right: 1em;
    bottom: 1em; */
}

#table {

  /*  overflow: hidden!important; */
  /* height: 5vh; */
}

.btn-info {
  background-color: #007BC4;
  color: white;
  border: none;
  padding: 4px 8px;
}
