<div id="cabecera" class="container-fluid">
  <div class="row">
    <div class="col-6 d-flex justify-content-start mt-3" id="pagina">
      <button class="mb-5"><i class="fa-sharp fa-solid fa-bars"></i></button>
      <p class="pt-2 mx-3">PUERTO
      </p>
    </div>
    <div class="col-6 d-flex justify-content-end mt-3" id="usuario">
      <p class="pt-2 mx-3">Xunta Galícia
      </p>
      <button class="mb-5"><i class="fa-sharp fa-solid fa-circle-user"></i></button>
    </div>
  </div>
</div>
