<div id="cabecera" class="container-fluid">
  <div class="row">
    <div id="hamburger" class="col-6 d-flex justify-content-start mt-3">
      <button id="boton-aside" class="button btn-sm"><img src="/assets/hamburger.svg" alt=""></button>
      <p class="d-none d-md-block">PROYECTO PUNTAL</p>
    </div>
    <div id="usuario" class="col-6 d-flex justify-content-end mt-3">
      <p class="d-none d-md-block">{{usuario.email}}</p>
      <button id="boton-user"><img src="/assets/iconUser.svg" alt=""></button>
    </div>
  </div>
</div>
