#cabecera {
  position: relative;
  height: 10vh;
  background: #007BC4;
}

#pagina {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 25px;
  color: #F2F9FB;
}

#pagina button {
  background-color: #007BC4;
  color: #F2F9FB;
  border: none;
}

#usuario {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 25px;
  color: #F2F9FB;
}

#usuario button {
  background-color: #007BC4;
  color: #F2F9FB;
  border: none;
}
