<div id="loginBoard" class="container-fluid">

    <div class="d-flex justify-content-end">

        <div id="login" class="col-6 m-4">
            
            <div id="logo" class="d-flex justify-content-center m-4">            
                <img src="./assets/Logos/logo_portos.png">                
            </div>

            <div class="row"> 
                <div id="titulo" class="d-flex justify-content-center mt-4 mb-4">
                    LOGIN
                </div> 
            </div>

            <div  id="usuario" class="row">  
                <p>Usuario / Email</p>          
                <input placeholder="Introduce tu email">
            </div>

            <div  id="contraseña" class="row">  
                <p>Contraseña</p>          
                <input placeholder="Introduce tu password">
            </div>

            <div id="session" class="row">  
                <div id="checkSession"  class="col-6">
                    <input type="checkbox" name="recuerdaSesion">
                    <label for="recuerdaSesion">Recordarme</label><br>
                </div>
                <div id="enlaceSession" class="col-6">
                    <a href="#">¿Olvidaste la contraseña?</a>
                </div>
            </div>

            <div id="btnLogin" class="row">         
                <input id="btn" type="button" value="LOGIN">
            </div>
                
                <div id="cuenta" class="d-flex justify-content-center mt-2 mb-3">
                    <a href="#">¿No tienes cuenta? <i>Contacta con nosotros.</i></a>
                </div>          

        </div>

    </div>


    <!-- <footer><img  id="footer" src="./assets/footer.svg"></footer> -->
    <div id="footer">
        <img class="w-100" src="./assets/footer.svg">
    </div>


</div>